[Desktop Entry]
Name=Toggle Chrome (tchrome)
Comment=pgrep chrome && close all chrome || run chrome
Exec=bash tchrome
Type=Application
StartupNotify=true
Icon=tchrome;
Categories=System;
